
# Store output attributes into keyvault secret
# Those values are used by the rover to connect the current remote state and
# identity the lower level
dynamic_keyvault_secrets = {
  level3 = {
{% if level2_storage_account is defined %}
    lower_stg = {
      secret_name = "lower-storage-account-name"
      value       = "{{level2_storage_account.name}}"
    }
    lower_rg = {
      secret_name   = "lower-resource-group-name"
      value       = "{{level2_storage_account.resource_group_name}}"
    }
{% endif %}
    subscription_id = {
      output_key    = "client_config"
      attribute_key = "subscription_id"
      secret_name   = "subscription-id"
    }
    tenant_id = {
      output_key    = "client_config"
      attribute_key = "tenant_id"
      secret_name   = "tenant-id"
    }
  }
  level4 = {
    lower_stg = {
      output_key    = "storage_accounts"
      resource_key  = "level3"
      attribute_key = "name"
      secret_name   = "lower-storage-account-name"
    }
    lower_rg = {
      output_key    = "resource_groups"
      resource_key  = "level3"
      attribute_key = "name"
      secret_name   = "lower-resource-group-name"
    }
    subscription_id = {
      output_key    = "client_config"
      attribute_key = "subscription_id"
      secret_name   = "subscription-id"
    }
    tenant_id = {
      output_key    = "client_config"
      attribute_key = "tenant_id"
      secret_name   = "tenant-id"
    }
  }

}