
#
# Services supported: subscriptions, storage accounts and resource groups
# Can assign roles to: AD groups, AD object ID, AD applications, Managed identities
#

role_mapping = {
  built_in_role_mapping = {
    resource_groups = {
      level3 = {
        "Reader" = {
{% if resources.azure_landing_zones.identity.azuread_identity_mode != 'logged_in_user' and launchpad_azuread_groups is defined %}
          object_ids = {
            keys = [
              "{{launchpad_azuread_groups.caf_platform_maintainers.id}}",           // caf_platform_maintainers
              "{{launchpad_azuread_groups.subscription_creation_landingzones.id}}"  // subscription_creation_landingzones
            ]
          }
          azuread_groups = {
            keys = [
              "caf_ac_landingzone_maintainers_non_prod",
              "caf_ac_landingzone_maintainers_prod"
            ]
          }
{% else %}
          logged_in = {
            keys = [ "user" ]
          }
{% endif %}
        }
      }
      level4 = {
        "Reader" = {
{% if resources.azure_landing_zones.identity.azuread_identity_mode != 'logged_in_user' and launchpad_azuread_groups is defined %}
          object_ids = {
            keys = [
              "{{launchpad_azuread_groups.caf_platform_maintainers.id}}",           // caf_platform_maintainers
              "{{launchpad_azuread_groups.subscription_creation_landingzones.id}}"  // subscription_creation_landingzones
            ]
          }
          azuread_groups = {
            keys = [
              "caf_ac_landingzone_maintainers_non_prod",
              "caf_ac_landingzone_maintainers_prod"
            ]
          }
{% else %}
          logged_in = {
            keys = [ "user" ]
          }
{% endif %}
        }
      }
    }

    storage_accounts = {
      level3 = {
        "Storage Blob Data Contributor" = {
{% if resources.azure_landing_zones.identity.azuread_identity_mode != 'logged_in_user' and launchpad_azuread_groups is defined %}
          object_ids = {
            keys = [
              "{{launchpad_azuread_groups.caf_platform_maintainers.id}}",           // caf_platform_maintainers
              "{{launchpad_azuread_groups.subscription_creation_landingzones.id}}"  // subscription_creation_landingzones
            ]
          }
{% else %}
          logged_in = {
            keys = [ "user" ]
          }
{% endif %}
        }
{% if resources.azure_landing_zones.identity.azuread_identity_mode != 'logged_in_user' and launchpad_azuread_groups is defined %}
        "Owner" = {
          object_ids = {
            keys = [
              "{{launchpad_azuread_groups.subscription_creation_landingzones.id}}"  // subscription_creation_landingzones
            ]
          }
        }
{% endif %}
      }

      level4 = {
        "Storage Blob Data Contributor" = {
{% if resources.azure_landing_zones.identity.azuread_identity_mode != 'logged_in_user' and launchpad_azuread_groups is defined %}
          object_ids = {
            keys = [
              "{{launchpad_azuread_groups.caf_platform_maintainers.id}}",           // caf_platform_maintainers
              "{{launchpad_azuread_groups.subscription_creation_landingzones.id}}"  // subscription_creation_landingzones
            ]
          }
{% else %}
          logged_in = {
            keys = [ "user" ]
          }
{% endif %}
        }
{% if resources.azure_landing_zones.identity.azuread_identity_mode != 'logged_in_user' and launchpad_azuread_groups is defined %}
        "Owner" = {
          object_ids = {
            keys = [
              "{{launchpad_azuread_groups.subscription_creation_landingzones.id}}"  // subscription_creation_landingzones
            ]
          }
        }
{% endif %}
      }

    }
  }
}
