landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "{{ config.tfstates.platform.management.lz_key_name }}"
  level               = "level2"
  key                 = "{{ config.tfstates.platform.identity_adds.lz_key_name }}"
  tfstates = {
    {{ config.tfstates.platform.management.lz_key_name }} = {
      level   = "lower"
      tfstate = "{{ config.tfstates.platform.management.tfstate }}"
    }
{% for key, virtual_hub in tfstates.virtual_hubs.items()  %}
    {{ config.tfstates.platform.virtual_hubs[key].lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.virtual_hubs[key].tfstate }}"
    }
{% endfor %}
  }
}
