virtual_hub_connections = {
{% for virtual_network_key, virtual_network in identity.virtual_networks.items() %}
{% for vhub_conn_key, vhub_connection in virtual_network.virtual_hub_connection.items() %}
  {{ vhub_conn_key }} = {
    name = "{{ vhub_connection.name }}"
    virtual_hub = {
      lz_key = "{{ config.tfstates.platform.virtual_hubs[vhub_connection.virtual_hub.lz_key_name].lz_key_name }}"
      key    = "{{ vhub_connection.virtual_hub.key }}"
    }
    vnet = {
      vnet_key = "{{ virtual_network_key }}"
    }
    routing = {
{% for rt_key, route_table in vhub_connection.routing.items() %}
      {{ rt_key }} = {
        virtual_hub_route_table_key    = "{{ route_table.route_table.key }}"
        lz_key = "{{ config.tfstates.platform.virtual_hubs[route_table.route_table.lz_key_name].lz_key_name }}"

        propagated_route_table = {
{% if route_table.propagated_route_table.virtual_hub_route_table_keys is defined %}
          lz_key = "{{ config.tfstates.platform.virtual_hubs[route_table.propagated_route_table.lz_key_name].lz_key_name }}"
          virtual_hub_route_table_keys = {{ route_table.propagated_route_table.virtual_hub_route_table_keys | replace('None','[]') | replace('\'','\"') }}
{% endif %}
          labels = {{ route_table.propagated_route_table.labels | replace('None','[]') | replace('\'','\"') }}
        }
      }
{% endfor %}
    }
  }
{% endfor %}
{% endfor %}
}