vnets = {
{% for key, vnet in identity.virtual_networks.items() %}
  {{ key }} = {
    resource_group_key = "{{vnet.resource_group_key}}"
    vnet = {
      name          = "{{ vnet.name }}"
      address_space = {{ vnet.address_space | replace('None','[]') | replace('\'','\"') }}
    }
    subnets = {
{% if vnet.subnets is defined %}
{% for subnet_key, subnet in vnet.subnets.items() %}
      {{ subnet_key }} = {
        name    = "{{subnet.name}}"
        cidr    = {{ vnet.subnets[subnet_key].cidr | replace('None','[]') | replace('\'','\"') }}
        nsg_key = "empty_nsg"
      }
{% endfor %}
{% endif %}
    }
{% if vnet.specialsubnets is defined %}
    specialsubnets = {
{% for subnet_key, subnet in vnet.specialsubnets.items() %}
      {{ subnet_key }} = {
        name = "{{subnet.name}}"
        cidr = {{ vnet.specialsubnets[subnet_key].cidr | replace('None','[]') | replace('\'','\"') }}
      }
{% endfor %}
    }
{% endif %}

    # you can setup up to 5 keys - vnet diganostic
    diagnostic_profiles = {
      vnet = {
        definition_key   = "networking_all"
        destination_type = "log_analytics"
        destination_key  = "central_logs"
      }
    }
  }
{% endfor %}
}