landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "{{ config.tfstates.platform.virtual_wan.lz_key_name }}"
  level               = "{{ config.tfstates.platform.virtual_hubs[virtual_hub].level }}"
  key                 = "{{ config.tfstates.platform.virtual_hubs[virtual_hub].lz_key_name }}"
  tfstates = {
    # Virtual WAN
    {{ config.tfstates.platform.virtual_wan.lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.virtual_wan.tfstate }}"
    }
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].enable_er_connections and connectivity_virtual_hub.express_route_connections[virtual_hub] is defined %}
    # Express Route Circuit
    {{ config.tfstates.platform.express_route_circuits[connectivity_virtual_hub.express_route_connections[virtual_hub].express_route_circuit_authorization.tfstate_key].lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.express_route_circuits[connectivity_virtual_hub.express_route_connections[virtual_hub].express_route_circuit_authorization.tfstate_key].tfstate  }}"
    }
{% endif %}
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].enable_er_connections and connectivity_virtual_hub.express_route_connections[virtual_hub].circuit_peering is defined %}
    # Express Route Circuit Peerings
    {{ config.tfstates.platform.express_route_circuit_peerings[connectivity_virtual_hub.express_route_connections[virtual_hub].circuit_peering.tfstate_key].lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.express_route_circuit_peerings[connectivity_virtual_hub.express_route_connections[virtual_hub].circuit_peering.tfstate_key].tfstate  }}"
    }
{% endif %}
  }
}

custom_variables = {
  virtual_hub_lz_key = "{{ config.tfstates.platform.virtual_hubs[virtual_hub].lz_key_name }}"
}