virtual_hubs = {
  {{ virtual_hub }} = {
    virtual_wan = {
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].virtual_wan.lz_key is defined %}
      lz_key = "{{ config.tfstates.platform.virtual_wan.lz_key_name }}"
{% endif %}
      key    = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].virtual_wan.key }}"
    }

    resource_group = {
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].virtual_wan.lz_key is defined %}
      lz_key = "{{ config.tfstates.platform.virtual_wan.lz_key_name }}"
{% endif %}
      key = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].virtual_wan.key }}"
    }

    hub_name           = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].name }}"
    region             = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].region_key }}"
    hub_address_prefix = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].hub_address_prefix }}"
    deploy_firewall    = false
    deploy_p2s         = false
    p2s_config         = {}
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].deploy_s2s  %}
    deploy_s2s         = {{ connectivity_virtual_hub.virtual_hubs[virtual_hub].deploy_s2s | string | lower }}
    s2s_config         = {
      name       = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].s2s_config.name }}"
      scale_unit = {{ connectivity_virtual_hub.virtual_hubs[virtual_hub].s2s_config.scale_unit }}
    }
{% else %}
    deploy_s2s         = false
{% endif %}
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].deploy_er  %}
    deploy_er          = {{ connectivity_virtual_hub.virtual_hubs[virtual_hub].deploy_er | string | lower }}
    er_config          = {
      name        = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].er_config.name }}"
      scale_units = {{ connectivity_virtual_hub.virtual_hubs[virtual_hub].er_config.scale_units }}
    }
{% else %}
    deploy_er          = false
{% endif %}
  }
}

{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].enable_er_connections and connectivity_virtual_hub.express_route_connections is defined %}
express_route_connections = {
  {{ virtual_hub }} = {
    name = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].name }}"
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].enable_internet_security is defined %}
    enable_internet_security = {{ connectivity_virtual_hub.express_route_connections[virtual_hub].enable_internet_security | string | lower }}
{% endif %}
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].enable_er_connections %}
    enable_er_connections = {{ connectivity_virtual_hub.virtual_hubs[virtual_hub].enable_er_connections | string | lower }}
{% endif %}
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].routing_weight is defined %}
    routing_weight = {{ connectivity_virtual_hub.express_route_connections[virtual_hub].routing_weight }}
{% endif %}
    virtual_hub = {
      key   = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].virtual_hub.key }}"
    }
    circuit_peering = {
      lz_key = "{{ config.tfstates.platform.express_route_circuit_peerings[connectivity_virtual_hub.express_route_connections[virtual_hub].circuit_peering.tfstate_key].lz_key_name }}"
      key    = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].circuit_peering.key }}"
    }
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].express_route_circuit_authorization is defined %}
    express_route_circuit_authorization = {
      lz_key = "{{ config.tfstates.platform.express_route_circuits[connectivity_virtual_hub.express_route_connections[virtual_hub].express_route_circuit_authorization.tfstate_key].lz_key_name }}"
      key    = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].express_route_circuit_authorization.key }}"
    }
{% endif %}
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].route_table is defined %}
    route_table = {
      key    = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].route_table.key }}"
    }
{% endif %}
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].propagated_route_tables is defined %}
    propagated_route_tables = {
      key    = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].propagated_route_tables.key }}"
    }
{% endif %}
  }
}
{% endif %}