**/.terraform
**/*.tfstate
**/*.tfplan
.DS_Store
**/terraform.tfstate.d
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/*.auto.tfvars
**/~*.*
**/*Dockerfile
**/*.gitignore
**/*.dockerignore