**/.terraform
**/*.tfstate
**/*.tfplan
.DS_Store
**/terraform.tfstate.d
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
**/~*.*
**/*.log
**/backend.azurerm.tf
public
*output.json
**/templates/ansible/action_plugins/__pycache__