landingzone = {
  backend_type        = "{{ caf_terraform.launchpad.backend_type | default("azurerm")}}"
  global_settings_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
  level               = "{{ config.tfstates.platform.management.level }}"
  key                 = "{{ config.tfstates.platform.management.lz_key_name }}"
  tfstates = {
    {{ config.tfstates.platform.launchpad.lz_key_name }} = {
      level   = "lower"
      tfstate = "{{ config.tfstates.platform.launchpad.tfstate }}"
    }
  }
}
