
#
# Services supported: subscriptions, storage accounts and resource groups
# Can assign roles to: AD groups, AD object ID, AD applications, Managed identities
#

role_mapping = {
  built_in_role_mapping = {
{% if resources.azure_landing_zones.identity.azuread_identity_mode != 'logged_in_user' %}
    resource_groups = {
      sp_credentials = {
        "Contributor" = {
          azuread_groups = {
            keys = [
              "identity"
            ]
            lz_key = "{{ resources.tfstates.platform.launchpad.lz_key_name }}"
          }
        }
      }
    }
{% endif %}
  }
}
