monitoring = {
  service_health_alerts = {
    enable_service_health_alerts = true
    name                         = "alerts"
    action_group_name            = "actiongrp"
    shortname                    = "HealthAlerts"
    resource_group_key           = "mgmt"

    email_alert_settings = {
{% for key in config.notifications.service_health_alerts.emails.keys() %}
      {{ key }} = {
        name                    = "email_alert_support1"
        email_address           = "{{ config.notifications.service_health_alerts.emails[key].email_address }}"
        use_common_alert_schema = false
      }
{% endfor %}
    } #add more email alerts by repeating the block.
    # webhook = {
    #   teams = {
    #     name        = "servicehealth"
    #     service_uri = ""
    #   }
    # }
  }
}
