landingzone = {
  backend_type        = "{{ caf_terraform.launchpad.backend_type | default("azurerm")}}"
  global_settings_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
  level               = "level1"
  key                 = "{{ config.tfstates.platform.eslz.lz_key_name }}"
  tfstates = {
    {{ config.tfstates.platform.launchpad.lz_key_name }} = {
      level   = "lower"
      tfstate = "{{ config.tfstates.platform.launchpad.tfstate }}"
    }
    {{ config.tfstates.platform.management.lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.management.tfstate }}"
    }
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
    {{ config.tfstates.platform.platform_subscriptions.lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.platform_subscriptions.tfstate }}"
    }
{% endif %}
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
    {{ config.tfstates.platform.identity.lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.identity.tfstate }}"
    }
{% endif %}
  }
}
