# relative path to {{ landingzones_folder }}/caf_solution/add-ons/caf_eslz
library_path                    = "../../../../{{ destination_base_path }}/{{tfstate_object.level}}/{{stage}}/{{deployment}}/lib"
{% if resources.platform_core_setup.enterprise_scale[deployment].root_parent_id is defined %}
root_parent_id                  = "{{ resources.platform_core_setup.enterprise_scale[deployment].root_parent_id }}"
{% endif %}
root_id                         = "{{ resources.platform_core_setup.enterprise_scale[deployment].management_group_prefix }}"
root_name                       = "{{ resources.platform_core_setup.enterprise_scale[deployment].management_group_name }}"
deploy_core_landing_zones       = {{ resources.platform_core_setup.enterprise_scale[deployment].deploy_core_landing_zones | string | lower }}
{% if (resources.platform_core_setup.enable_azure_subscription_vending_machine | default(false)) and resources.platform_identity.azuread_identity_mode != 'logged_in_user' %}
reconcile_vending_subscriptions = true
{% endif %}