resource_groups = {
{% for key, resource_group in connectivity_virtual_wan.resource_groups.items() %}
  {{ key }} = {
    name   = "{{ resource_group.name }}"
    region = "{{ resource_group.region_key | default(config.caf_terraform.launchpad.default_region_key) }}"
  }
{% endfor %}
}