landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "{{ config.tfstates.platform.virtual_wan.lz_key_name }}"
  level               = "{{ config.tfstates.platform.vpn_sites[site].level }}"
  key                 = "{{ config.tfstates.platform.vpn_sites[site].lz_key_name }}"
  tfstates = {
    {{ config.tfstates.platform.virtual_wan.lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.virtual_wan.tfstate }}"
    }
    {{ config.tfstates.platform.virtual_hubs[connectivity_vpn_gateway_connections.vpn_gateway_connections[site].vpn_site.key].lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.virtual_hubs[connectivity_vpn_gateway_connections.vpn_gateway_connections[site].vpn_site.key].tfstate }}"
    }
  }
}