vpn_sites = {
  {{ site }} = {
    name = "{{ connectivity_vpn_sites.vpn_sites[site].name }}"
    resource_group = {
      lz_key = "{{ connectivity_vpn_sites.vpn_sites[site].resource_group.lz_key }}"
      key    = "{{ connectivity_vpn_sites.vpn_sites[site].resource_group.key }}"
    }
    virtual_wan = {
      lz_key = "{{ connectivity_vpn_sites.vpn_sites[site].virtual_wan.lz_key }}"
      key    = "{{ connectivity_vpn_sites.vpn_sites[site].virtual_wan.key }}"
    }
    device_vendor = "{{ connectivity_vpn_sites.vpn_sites[site].device_vendor }}"
{% if connectivity_vpn_sites.vpn_sites[site].address_cidrs is defined %}
    address_cidrs = {{ connectivity_vpn_sites.vpn_sites[site].address_cidrs | replace('None','[]') | replace('\'','\"') }}
{% endif %}
    links = {
{% for link_key, link in connectivity_vpn_sites.vpn_sites[site].links.items() %}
      {{ link_key }} = {
        name          = "{{ link.name }}"
        ip_address    = "{{ link.ip_address }}"
        provider_name = "{{ link.provider_name }}"
        speed_in_mbps = "{{ link.speed_in_mbps }}"
      }
{% endfor %}
    }
  }
}