automations = {
{% for key, automation in resources[tfstate_resource].resources[subscription_key].automation_accounts.items() %}
  {{ key }}  = {
    name               = "{{ automation.name }}"
    sku                = "{{ automation.sku | default('Basic') }}"
    resource_group_key = "{{ automation.resource_group_key }}"
  }
{% endfor %}
}