azuread_credentials = {
{% for key, cred in resources[tfstate_resource].resources[subscription_key].azuread_credentials.items() %}
  {{ key }} = {
    type                          = "{{ cred.type | default('password') }}"
    azuread_credential_policy_key = "{{ cred.azuread_credential_policy_key }}"

    azuread_application = {
{% if cred.azuread_application.lz_key is defined %}
      lz_key = "{{ cred.azuread_application.lz_key }}"
{% endif %}
      key = "{{ cred.azuread_application.key }}"
    }
    keyvaults = {
{% for kv_key, kv in cred.keyvaults.items() %}
      {{ kv_key }} = {
        secret_prefix = "{{ kv.secret_prefix }}"
      }
{% endfor %}
    }
  }
{% endfor %}
}