azuread_applications = {
{% for key, app in resources[tfstate_resource].resources[subscription_key].azuread_applications.items() %}
  {{ key }} = {
    application_name = "{{ app.application_name }}"
  }
{% endfor %}
}