azuread_credential_policies = {
{% for key, value in resources[tfstate_resource].resources[subscription_key].azuread_credential_policies.items() %}
  {{ key }} = {
    # Length of the password
    length  = {{ value.length }}
    special = {{ value.special | string | lower | default('false') }}
    upper   = {{ value.upper | string | lower | default('true') }}
    number  = {{ value.number | string | lower | default('true') }}

    # Password Expiration date
    expire_in_days = {{ value.expire_in_days }}
    rotation_key0 = {
      # Odd number
      days = {{ value.rotation_key0.days }}
    }
    rotation_key1 = {
      # Even number
      days = {{ value.rotation_key1.days }}
    }
  }
{% endfor %}

}