#
# Define the settings for log analytics workspace and solution map
#

diagnostic_log_analytics = {
{% for key, dla in resources.subscriptions[subscription_key].diagnostic_log_analytics.items() %}
  {{ key }} = {
    region             = "{{ dla.region | default(config.caf_terraform.launchpad.default_region_key)}}"
    name               = "{{ dla.name }}"
    resource_group_key = "{{ dla.resource_group_key }}"
    # you can setup up to 5 key

{% if resources.subscriptions[subscription_key].diagnostic_log_analytics[key].diagnostic_profiles is defined %}
    diagnostic_profiles = {
{% for dp_key, dp_value in resources.subscriptions[subscription_key].diagnostic_log_analytics[key].diagnostic_profiles.items() %}
      {{ dp_key }} = {
        definition_key   = "{{ dp_value.definition_key }}"
        destination_type = "{{ dp_value.destination_type }}"
        destination_key  = "{{ dp_value.destination_key }}"
      }
{% endfor %}
    }
{% endif %}
{% if resources.subscriptions[subscription_key].diagnostic_log_analytics[key].solutions is defined %}
    solutions = {
{% for sol_key, sol_value in resources.subscriptions[subscription_key].diagnostic_log_analytics[key].solutions.items() %}
      {{ sol_key }} = {
        "publisher" = "{{ sol_value.publisher }}"
        "product"   = "{{ sol_value.product }}"
      }
{% endfor %}

    }
{% endif %}
  }
{% endfor %}
}
