dynamic_keyvault_secrets = {
{% for kv_key, kv_value in resources.subscriptions[subscription_key].dynamic_keyvault_secrets.items() %}
  {{ kv_key }} = {
{% for key, value in kv_value.items() %}
    {{ key }} = {
      secret_name = "{{ value.secret_name }}"
      value       = "{{ value['value'] }}"
    }
{% endfor %}
  }
{% endfor %}
}