dynamic_keyvault_secrets = {
{% for key, value in resources[tfstate_resource].resources[subscription_key].dynamic_keyvault_secrets.items() %}
  {{ key }} = {
{% for l1_key, l1_value in value.items() %}
    {{l1_key}} = {
{% for l2_key, l2_value in l1_value.items() %}
      {{l2_key}} = "{{l2_value}}"
{% endfor%}
    }
{% endfor%}
  }
{% endfor %}
}