
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].enable_er_connections and connectivity_virtual_hub.express_route_connections is defined %}
express_route_connections = {
  {{ virtual_hub }} = {
    name = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].name }}"
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].enable_internet_security is defined %}
    enable_internet_security = {{ connectivity_virtual_hub.express_route_connections[virtual_hub].enable_internet_security | string | lower }}
{% endif %}
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].enable_er_connections %}
    enable_er_connections = {{ connectivity_virtual_hub.virtual_hubs[virtual_hub].enable_er_connections | string | lower }}
{% endif %}
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].routing_weight is defined %}
    routing_weight = {{ connectivity_virtual_hub.express_route_connections[virtual_hub].routing_weight }}
{% endif %}
    virtual_hub = {
      key   = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].virtual_hub.key }}"
    }
    circuit_peering = {
      lz_key = "{{ config.tfstates.platform.express_route_circuit_peerings[connectivity_virtual_hub.express_route_connections[virtual_hub].circuit_peering.tfstate_key].lz_key_name }}"
      key    = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].circuit_peering.key }}"
    }
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].express_route_circuit_authorization is defined %}
    express_route_circuit_authorization = {
      lz_key = "{{ config.tfstates.platform.express_route_circuits[connectivity_virtual_hub.express_route_connections[virtual_hub].express_route_circuit_authorization.tfstate_key].lz_key_name }}"
      key    = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].express_route_circuit_authorization.key }}"
    }
{% endif %}
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].route_table is defined %}
    route_table = {
      key    = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].route_table.key }}"
    }
{% endif %}
{% if connectivity_virtual_hub.express_route_connections[virtual_hub].propagated_route_tables is defined %}
    propagated_route_tables = {
      key    = "{{ connectivity_virtual_hub.express_route_connections[virtual_hub].propagated_route_tables.key }}"
    }
{% endif %}
  }
}
{% endif %}