{% if resources[tfstate_resource].resources[subscription_key].global_settings is defined %}
  global_settings = {
    passthrough = {{ resources[tfstate_resource].resources[subscription_key].global_settings.passthrough | string | lower }}
    prefix = "{{ resources[tfstate_resource].resources[subscription_key].global_settings.prefix }}"
    use_slug = {{ resources[tfstate_resource].resources[subscription_key].global_settings.use_slug | string | lower }}
    inherit_tags = {{ resources[tfstate_resource].resources[subscription_key].global_settings.inherit_tags | string | lower }}
    random_length = {{ resources[tfstate_resource].resources[subscription_key].global_settings.random_length }}
{% if resources[tfstate_resource].resources[subscription_key].global_settings.tags is defined %}
    tags = {
{% for tag, value in resources[tfstate_resource].resources[subscription_key].global_settings.tags.items() %}
      "{{ tag }}" = "{{value}}"
{% endfor %}
    }
{% endif %}
    default_region = "{{ resources[tfstate_resource].resources[subscription_key].global_settings.default_region_key }}"
    regions = {
{% for key in resources[tfstate_resource].resources[subscription_key].global_settings.regions.keys() %}
      {{ key }} = "{{ resources[tfstate_resource].resources[subscription_key].global_settings.regions[key].name }}"
{% endfor %}
    }
  }
{% endif %}