{% set resource_type = 'keyvaults' %}
{{resource_type}} = {
{% for key, value in resources[tfstate_resource].resources[subscription_key].keyvaults.items() %}
  "{{ key | string }}" = {
    name                       = "{{ value.name }}"
    resource_group_key         = "{{ value.resource_group_key }}"
    sku_name                   = "{{ value.sku_name | default('standard')}}"
{% if value.enabled_for_deployment is defined %}
    enabled_for_deployment = {{ value.enabled_for_deployment | string | lower }}
{% endif %}
{% if value.enabled_for_disk_encryption is defined %}
    enabled_for_disk_encryption = {{ value.enabled_for_disk_encryption | string | lower }}
{% endif %}
{% if value.enabled_for_template_deployment is defined %}
    enabled_for_template_deployment = {{ value.enabled_for_template_deployment | string | lower }}
{% endif %}
{% if value.purge_protection_enabled is defined %}
    purge_protection_enabled = {{ value.purge_protection_enabled | string | lower }}
{% endif %}
{% if value.enable_rbac_authorization is defined %}
    enable_rbac_authorization = {{ value.enable_rbac_authorization | string | lower }}
{% endif %}
{% if value.soft_delete_retention_days is defined %}
    soft_delete_retention_days = {{ value.soft_delete_retention_days }}
{% endif %}
{% if value.tags is defined %}
      tags   = {
{% for tag_key, tag_value in value.tags.items() %}
        {{ tag_key }} = "{{ tag_value }}"
{% endfor %}
      }
{% endif %}
{% if value.creation_policies is defined %}
    creation_policies = {
{% if resources.platform_identity is defined %}
{% if resources.azure_landing_zones.identity.azuread_identity_mode == 'logged_in_user' %}
      logged_in_user = {
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
{% endif %}
{% for p_key, policy in value.creation_policies.items() %}
      {{ p_key }} = {
{% if policy.lz_key is defined %}
        lz_key = "{{ policy.lz_key }}"
{% endif %}
{% if policy.azuread_group_key is defined %}
        azuread_group_key = "{{ policy.azuread_group_key }}"
{% elif policy.azuread_service_principal_key is defined %}
        azuread_service_principal_key = "{{ policy.azuread_service_principal_key }}"
{% elif policy.managed_identity_key is defined %}
        managed_identity_key = "{{ policy.managed_identity_key }}"
{% endif %}
{% if policy.secret_permissions is defined %}
        secret_permissions = {{ policy.secret_permissions | replace('None','[]') | replace('\'','\"') }}
{% endif %}
      }
{% endfor %}
    }
{% endif %}
{% set resource_parent_type = 'keyvault' %}
{% include 'network_rules.j2' %}
{% include 'private_endpoints.tfvars.j2' %}
  }
{% endfor %}
}
