managed_identities = {
{% for key, value in resources[tfstate_resource].resources[subscription_key].managed_identities.items() %}
  {{ key }} = {
    name               =  "{{ value.name }}"
    resource_group_key = "{{ value.resource_group_key }}"
{% if resource_group.tags is defined %}
    tags   = {
{% for tag_key, tag_value in resource_group.tags.items() %}
      {{ tag_key }} = "{{ tag_value }}"
{% endfor %}
    }
{% endif %}
  }
{% endfor %}
}