{% set resource_type = 'storage_accounts' %}
{{resource_type}} = {
{% for key, value in resources[tfstate_resource].resources[subscription_key].storage_accounts.items() %}
  {{ key }} = {
    name                      = "{{ value.name }}"
    resource_group_key        = "{{ value.resource_group_key }}"
    account_kind              = "{{ value.account_kind | default('BlobStorage') }}"
    account_tier              = "{{ value.account_tier | default('Standard') }}"
{% if value.shared_access_key_enabled is defined %}
    shared_access_key_enabled = {{ value.shared_access_key_enabled | lower | default('false') }}
{% endif %}
    account_replication_type  = "{{ value.account_replication_type }}"
{% if value.access_tier is defined %}
    access_tier               = "{{ value.access_tier }}"
{% endif %}
{% if value.min_tls_version is defined %}
    min_tls_version           = "{{ value.min_tls_version }}"
{% endif %}
{% if value.allow_blob_public_access is defined %}
    allow_blob_public_access  = {{ value.allow_blob_public_access | lower }}
{% endif %}
{% if value.is_hns_enabled is defined %}
    is_hns_enabled            = {{ value.is_hns_enabled | lower }}
{% endif %}
{% if value.nfsv3_enabled is defined %}
    nfsv3_enabled             = {{ value.nfsv3_enabled | lower }}
{% endif %}
{% if value.large_file_share_enabled is defined %}
    large_file_share_enabled  = {{ value.large_file_share_enabled | lower }}
{% endif %}
{% if value.enable_system_msi is defined %}
    enable_system_msi         = {{ value.enable_system_msi | lower }}
{% endif %}
{% if value.blob_properties is defined %}
    blob_properties = {
{% if value.blob_properties.versioning_enabled is defined %}
      versioning_enabled                = {{ value.blob_properties.versioning_enabled | lower }}
{% endif %}
{% if value.blob_properties.change_feed_enabled is defined %}
      change_feed_enabled               = {{ value.blob_properties.change_feed_enabled | lower }}
{% endif %}
{% if value.blob_properties.last_access_time_enabled is defined %}
      last_access_time_enabled          = {{ value.blob_properties.last_access_time_enabled | lower }}
{% endif %}
{% if value.blob_properties.default_service_version is defined %}
      default_service_version           = "{{ value.blob_properties.default_service_version }}"
{% endif %}
{% if value.blob_properties.container_delete_retention_policy is defined %}
      container_delete_retention_policy = {
        days = {{ value.blob_properties.container_delete_retention_policy.days }}
      }
{% endif %}
{% if value.blob_properties.delete_retention_policy is defined %}
      delete_retention_policy = {
        days = {{ value.blob_properties.delete_retention_policy.days }}
      }
{% endif %}
    }
{% endif %}
{% set resource_parent_type = 'storage' %}
{% include 'network_rules.j2' %}
{% if value.management_policies is defined %}
    management_policies = {
      rules = {
{% for mp_key, mp_value in value.management_policies.rules.items() %}
        {{ mp_key }} = {
          enabled = {{mp_value.enabled | default(True) | lower}}
          name    = "{{mp_value.name}}"
          filters = {
{% for mpf_key, mpf_value in mp_value.filters.items() %}
           {{mpf_key}} = {
{% if mpf_value.prefix_match is defined %}
             prefix_match = {{ mpf_value.prefix_match | replace('None','[]') | replace('\'','\"') }}
{% endif %}
{% if mpf_value.blob_types is defined %}
             blob_types = {{ mpf_value.blob_types | replace('None','[]') | replace('\'','\"') }}
{% endif %}
{% if mpf_value.match_blob_index_tag is defined %}
              match_blob_index_tag = {
                {{ mpf_value.match_blob_index_tag.0.keys() }} = {
                  name = "{{ mpf_value.match_blob_index_tag.0.name }}"
                  operation = "{{ mpf_value.match_blob_index_tag.0.operation }}"
                  value = "{{ mpf_value.match_blob_index_tag.0.value }}"
                }
              }
{% endif %}
           }
{% endfor %}
          }
          actions = {
            base_blob = {
{% for aa_key, aa_value in mp_value.actions.base_blob.items() %}
             {{ aa_key }} = {
{% for ab_key, ab_value in aa_value.items() %}
                {{ ab_key }} = {{ ab_value }}
{% endfor %}
              }
{% endfor %}
            }
            snapshot = {
{% for aa_key, aa_value in mp_value.actions.snapshot.items() %}
             {{ aa_key }} = {
{% for ab_key, ab_value in aa_value.items() %}
                {{ ab_key }} = {{ ab_value }}
{% endfor %}
             }
{% endfor %}
            }
            version = {
{% for aa_key, aa_value in mp_value.actions.version.items() %}
             {{ aa_key }} = {
{% for ab_key, ab_value in aa_value.items() %}
                {{ ab_key }} = {{ ab_value }}
{% endfor %}
            } 
{% endfor %}
            }
          }
        }
{% endfor %}
      }
    }
{% endif %}
{% if value.containers is defined %}
    containers = {
{% for c_key, c_value in value.containers.items() %}
      {{ c_key }} = {
        name = "{{ c_value.name }}"
      }
{% endfor %}
    }
{% endif %}
{%    include 'private_endpoints.tfvars.j2' %}
{% if value.tags is defined %}
    tags   = {
{% for tag_key, tag_value in value.tags.items() %}
      {{ tag_key }} = "{{ tag_value }}"
{% endfor %}
    }
{% endif %}
  }

{% endfor %}
}