{% if connectivity_virtual_hub[virtual_hub].virtual_hub_route_tables is defined %}
virtual_hub_route_tables = {
{% for key, route_table in connectivity_virtual_hub[virtual_hub].virtual_hub_route_tables.items() %}
  {{ key }} = {
    name = "{{ route_table.name }}"

    virtual_hub = {
      key = "{{ virtual_hub }}"
    }

    # labels = ["label1"]
    # routes = {
      # egress_internet = {
      #   name              = "egress-internet"
      #   destinations_type = "CIDR"
      #   destinations      = ["0.0.0.0/0"]

      #   # Either next_hop or next_hop_id can be used
      #   #
      #   # When using next_hop, the virtual_hub_connection must be deployed in a different landingzone. This cannot be tested in the standalone module.
      #   # Will be covered in the landingzone starter production configuration in future releases.
      #   #
      #   next_hop = {
      #     lz_key = "" #
      #     resource_type = "virtual_hub_connection"  # Only supported value.
      #     resource_key  = "egress-fw"
      #   }
      #   #to cather for external object
      #   #next_hop_id       = "Azure_Resource_ID"
      # }
    # }
  }
{% endfor %}
}
{% endif %}