virtual_hubs = {
{% for key, value in resources[tfstate_resource].resources[subscription_key].virtual_hubs.items() %}
  {{ key }} = {
    virtual_wan = {
{% if value.virtual_wan.lz_key is defined %}
      lz_key = "{{ value.virtual_wan.lz_key }}"
{% endif %}
      key    = "{{ value.virtual_wan.key }}"
    }
    resource_group = {
{% if value.virtual_wan.lz_key is defined %}
      lz_key = "{{ value.virtual_wan.lz_key }}"
{% endif %}
      key = "{{ value.virtual_wan.key }}"
    }
    hub_name           = "{{ value.name }}"
{% if value.region_key is defined %}
    region             = "{{ value.region_key }}"
{% endif %}
    hub_address_prefix = "{{ value.hub_address_prefix }}"
{% if value.routes is defined %}
    routes = {
{% for rt_key, rt_value in value.routes.items() %}
      {{rt_key}} = {
        address_prefixes = {{ rt_value.address_prefixes | replace('None','[]') | replace('\'','\"') }}
        next_hop_ip_address = "{{ rt_value.next_hop_ip_address }}"
      }
{% endfor %}
    }
{% endif %}
    deploy_p2s    = {{ value.deploy_p2s | default(false) | lower }}
{% if value.p2s_config is defined %}
    p2s_config = {
        name = "{{ value.p2s_config.name }}"
        scale_unit = "{{ value.p2s_config.scale_unit | default(1) }}"
{% if value.p2s_config.connection_configuration is defined %}
        connection_configuration = {
          name = "{{ value.p2s_config.connection_configuration.name }}"
{% if value.p2s_config.connection_configuration.vpn_client_address_pool is defined %}
          vpn_client_address_pool = {
{% for cap_key, cap_value in value.p2s_config.connection_configuration.vpn_client_address_pool.items() %}
            {{cap_key}} = {
              address_prefixes = {{cap_value | replace('None','[]') | replace('\'','\"') }}
            }
{% endfor %}
          }
{% endif %}
        }
{% endif %}
{% if value.deploy_p2s.server_config is defined %}
        server_config = {
          vpn_authentication_types = "{{ value.deploy_p2s.server_resources.vpn_authentication_types }}"
          client_root_certificate = {
            name             = "{{ value.deploy_p2s.server_resources.client_root_certificate.name }}"
            public_cert_data = "{{ value.deploy_p2s.server_resources.client_root_certificate.public_cert_data }}"
          }
        }
{% endif %}
    }
{% else %}
    p2s_config = {}
{% endif %}
    deploy_s2s = {{ value.deploy_s2s | string | lower | default(false) }}
    s2s_config = {
{% if value.s2s_resources.name is defined %}
      name               = "{{ value.s2s_resources.name }}"
{% endif %}
{% if value.s2s_resources.scale_unit is defined %}
      scale_unit         = {{ value.s2s_resources.scale_unit }}
{% endif %}
{% if value.s2s_resources.routing_preference is defined %}
      routing_preference = "{{ value.s2s_resources.routing_preference | default('Microsoft Network') }}"
{% endif %}
{% if value.deploy_s2s.bgp_settings is defined  %}
      bgp_settings = {
        asn         = "{{ value.deploy_s2s.bgp_settings.asn }}"
        peer_weight = {{ value.deploy_s2s.bgp_settings.peer_weight }}
{% if value.deploy_s2s.bgp_settings.instance_0_bgp_peering_address is defined  %}
        instance_0_bgp_peering_address = {
          custom_ips = {{ value.deploy_s2s.bgp_settings.instance_0_bgp_peering_address.custom_ips | replace('None','[]') | replace('\'','\"') }}
        }
{% endif %}
{% if value.deploy_s2s.bgp_settings.instance_1_bgp_peering_address is defined  %}
        instance_1_bgp_peering_address = {
          custom_ips = {{ value.deploy_s2s.bgp_settings.instance_1_bgp_peering_address.custom_ips | replace('None','[]') | replace('\'','\"') }}
        }
{% endif %}
      }
{% endif %}
    }
    deploy_er             = {{ value.deploy_er | string | lower | default(false) }}
{% if value.er_resources is defined %}
    er_config          = {
      name        = "{{ value.er_resources.name }}"
      scale_units = {{ value.er_resources.scale_units }}
    }
{% endif %}
{% if value.security_partner_provider is defined %}
    security_partner_provider = {
{% for spp_key, spp_value in value.security_partner_provider.items() %}
      {{spp_key}} = {
        name = "{{ spp_value.name }}"
        security_provider_name = "{{ spp_value.security_provider_name }}"
      }
{% endfor %}
    }
{% endif %}
{% if value.bgp_connection is defined %}
    bgp_connection = {
{% for bgp_key, bgp_value in value.bgp_connection.items() %}
      {{bgp_key}} = {
        name = "{{ bgp_value.name }}"
        peer_asn = "{{ bgp_value.peer_asn }}"
        peer_ip = "{{ bgp_value.peer_ip }}"
      }
{% endfor %}
    }
{% endif %}
  }
{% endfor %}
}
