{% import 'library.j2' as render %}
{% set value = resources[tfstate_resource].resources[subscription_key].vnet_peerings_v1 %}
{{ render.hcl("vnet_peerings_v1", value, multiple_lines_list=multiple_lines_list) }}