custom_landing_zones = {
{% for key, level in mg_custom.archetype_definitions.items() %}
  {{ bootstrap.management_groups[region][tfstate].management_group_prefix }}-{{ key }} = {
    display_name               = "{{ level.display_name }}"
    parent_management_group_id = "{{ bootstrap.management_groups[region][tfstate].management_group_prefix }}-{{ level.parent_management_group_id }}"
    archetype_config = {
      archetype_id     = "{{ level.archetype_id }}"
{% if level.policy_assignments is defined %}
      parameters = {
{% for pa_key, pa_value in level.policy_assignments.items() %}
{% if pa_value is mapping %}
        "{{ pa_key }}" = {
{% for attribute, attribute_value in pa_value.items()  %}
          "{{attribute}}" = {
{% if attribute_value is string %}
          value = "{{ attribute_value }}"
{% elif attribute_value is boolean %}
          boolean = {{ attribute_value | string | lower }}
{% elif attribute_value is number %}
          integer = {{ attribute_value }}
{% else %}
{% if attribute_value is mapping %}
{% for caf_key, caf_value in attribute_value.items() %}
          {{ caf_key }} = "{{ caf_value }}"
{% endfor %}
{% else %}
          values = {{ attribute_value | replace('None','[]') | replace('\'','\"') }}
{% endif %}
{% endif %}
          }
{% endfor %}
        }
{% endif %}
{% endfor %}
      }
{% else %}
      parameters       = {}
{% endif %}
{% if level.access_control is mapping %}
      access_control = {
{% if resources.azure_landing_zones.identity.azuread_identity_mode != "logged_in_user" %}
{% for level_ac_key, level_ac in level.access_control.items() %}
        "{{level_ac_key}}" = {
{% for level_role_key, level_role in level_ac.items()  %}
          "{{ level_role_key }}" = {
            lz_key        = "{{ level_role.lz_key }}"
            attribute_key = "{{ level_role.attribute_key }}"
            resource_keys = ["{{ level_role.resource_keys | replace('None','[]') | replace('\'','\"') }}"]
          }
{% endfor %}
        }
{% endfor %}
{% else %}
      "Owner" = {
         "principal_ids" = ["{{ resources.billing_subscription_role_delegations.azuread_user_ea_account_owner_object_id | default(upn) }}"]
      }
{% endif %}
      }
{% else %}
      access_control   = {}
{% endif %}
    }
{% if level.subscriptions is mapping %}
      subscriptions    = {
{% for level_group_key, level_group in level.subscriptions.items() %}
      "{{level_group_key}}" = {
            lz_key = "{{ level_group.lz_key }}"
            key = "{{ level_group.key }}"
      }
{% endfor %}
      }
{% else %}
      subscriptions    = {}
{% endif %}    
{% if level.subscription_ids is defined %}
    subscription_ids = {{ level.subscription_ids | replace('None','[]') | replace('[', '[\n') | replace(']', '\n]') | replace(',', ',\n') | replace('\'','\"') }}
{% else %}
    subscription_ids = []
{% endif %}
  }

{% endfor %}
}