{% raw %}
#
# Copyright (c) Microsoft Corporation
# Licensed under the MIT License.
#

name: "Ansible generate definition files"

on:
  workflow_call:
    inputs:
      terraform_code_repository:
        description: "Git repository of the the terraform entry code."
        required: true
        type: string
      terraform_code_ref:
        description: "Tag or branch name."
        required: true
        type: string
      environment:
        description: Name of the CAF environment
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_LAUNCHPAD_SUBSCRIPTION_ID:
        required: true
      AZURE_MANAGEMENT_SUBSCRIPTION_ID:
        required: false
      AZURE_CONNECTIVITY_SUBSCRIPTION_ID:
        required: false
      AZURE_IDENTITY_SUBSCRIPTION_ID:
        required: false
      AZURE_SECURITY_SUBSCRIPTION_ID:
        required: false
      AZURE_TARGET_SUBSCRIPTION_ID:
        required: true
      RUNNER_REGISTRATION_TOKEN:
        required: true
      AZURE_OBJECT_ID:
        required: true
      ROVER_AGENT_DOCKER_IMAGE:
        required: true
      RUNNER_NUMBERS:
        required: true
      BOOTSTRAP_TOKEN:
        required: true


env:
  TF_CLI_ARGS: '-no-color'
  TF_REGISTRY_DISCOVERY_RETRY: 5
  TF_REGISTRY_CLIENT_TIMEOUT: 15
  ROVER_RUNNER: true

jobs:
  rover:
    name: Generate definition files
    runs-on: [self-hosted, platform]
    
    steps:
      
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: bootstrap

      - name: 'Azure Login'
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_MANAGEMENT_SUBSCRIPTION_ID }}
          allow-no-subscriptions: true

      - name: Ansible playbook generate definition files from template
        run: |
          rm -rf ./landingzones
          git clone -b ${{ inputs.terraform_code_ref }} --single-branch ${{ inputs.terraform_code_repository }} ./landingzones
          
          cred_vault_name=$(az keyvault list --query "[?(tags.caf_identity_aad_key=='cred_level0' && tags.caf_environment=='${{ inputs.environment }}')].{name:name}[0]" -o tsv)
          if [ "${cred_vault_name}" != ''  ]; then
            sp_keyvault_url="https://${cred_vault_name}.vault.azure.net/"
            
            # Test permissions
            az keyvault secret show --id ${sp_keyvault_url}/secrets/sp-client-id --query 'value' -o tsv  --only-show-errors | read CLIENT_ID

            if [ ! -z "${tenant}" ]; then
                export ARM_TENANT_ID=${tenant}
            else
                export ARM_TENANT_ID=$(az keyvault secret show --id ${sp_keyvault_url}/secrets/sp-tenant-id --query 'value' -o tsv --only-show-errors)
            fi

            export ARM_CLIENT_ID=$(az keyvault secret show --id ${sp_keyvault_url}/secrets/sp-client-id --query 'value' -o tsv --only-show-errors)
            export ARM_CLIENT_SECRET=$(az keyvault secret show --id ${sp_keyvault_url}/secrets/sp-client-secret --query 'value' -o tsv --only-show-errors)

            az login --service-principal -u ${ARM_CLIENT_ID} -p ${ARM_CLIENT_SECRET} -t ${ARM_TENANT_ID}  --only-show-errors 1> /dev/null
          fi

          # Debug - always create some updates
          echo "test123" >> deleteme.txt

          ansible-playbook $(readlink -f ./landingzones/templates/ansible/walk-through-ci.yaml) \
            --extra-vars "@$(readlink -f ./platform/definition/ignite.yaml)" \
            -e base_folder=$(pwd) \
{% endraw %}
{% if topology_file is defined %}
            -e topology_file={{ '$(readlink -f ' + topology_file | regex_replace('/tf/caf', '.') + ')'}} \
{% else %}
            -e topology_file=$(readlink -f ./landingzones/templates/platform/caf_platform_prod_nonprod.yaml) \
{% endif %}
{% raw %}            -e gitops_pipelines=github \
            -e gitops_agent=github \
            -e GITHUB_SERVER_URL=${GITHUB_SERVER_URL} \
            -e GITHUB_REPOSITORY=${GITHUB_REPOSITORY} \
            -e GITOPS_SERVER_URL=${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY} \
            -e RUNNER_NUMBERS=${{ secrets.RUNNER_NUMBERS }} \
            -e ROVER_AGENT_DOCKER_IMAGE=${{secrets.ROVER_AGENT_DOCKER_IMAGE}} \
            -e subscription_deployment_mode=multi_subscriptions \
            -e sub_management=${{ secrets.AZURE_MANAGEMENT_SUBSCRIPTION_ID}} \
            -e sub_connectivity=${{ secrets.AZURE_CONNECTIVITY_SUBSCRIPTION_ID }} \
            -e sub_identity=${{ secrets.AZURE_IDENTITY_SUBSCRIPTION_ID }} \
            -e sub_security=${{secrets.AZURE_SECURITY_SUBSCRIPTION_ID}} \
            -e TF_VAR_environment=${{ inputs.environment }} \
            -e bootstrap_sp_object_id=${{secrets.AZURE_OBJECT_ID}} \
            -e template_folder="$(pwd)/platform/definition"

      - name: Exclude readme.md files from the pull request
        run: |          
          if git show-branch temp &>/dev/null; then          
            git branch -D temp
          fi          
          git checkout -b temp
          git diff --name-only origin/main | grep 'readme.md$' | xargs git add
          git diff --name-only origin/main | grep 'GETTING-STARTED.md$' | xargs git add          
          git commit -m "Commit changes to documentation files in a temprarly branch"
          git checkout bootstrap
          git branch -D temp
                      
      - name: Update Pull Request
        with:          
          token: ${{ secrets.BOOTSTRAP_TOKEN }}
          commit-message: "Update definition files"
          committer: "Github Action Bot <github-actions@github.com>"
          labels: bootstrap, definition
          branch: bootstrap
          base: main
          delete-branch: true
          title: "Configuration files updated, update pull_request to merge with main"
          body: | 
            This pull_request was created by GitHub Action workflow and peter-evans/create-pull-request@v4.2.3
            - Definition files updated
          assignees: "heintonny"
        
{% endraw %}