# naming convention settings
# for more settings on naming convention, please refer to the provider documentation: https://github.com/aztfmod/terraform-provider-azurecaf
#
# passthrough means the default CAF naming convention is not applied and you are responsible
# of the unicity of the names you are giving. the CAF provider will clear out
passthrough = {{ bootstrap.naming_convention.passthrough | string | lower }}
# adds random chars at the end of the names produced by the provider
# Do not change the following values once the launchpad deployed.
# Enable tag inheritance (can be changed)
inherit_tags = {{ bootstrap.naming_convention.inherit_tags | string | lower }}
# When passthrough is set to false, define the number of random characters to add to the names
random_length = {{ bootstrap.naming_convention.random_length }}
# Set the prefix that will be added to all azure resources.
# if not set and passthrough=false, the CAF module generates a random one.
{% if bootstrap.naming_convention.prefix is defined %}
prefix = "{{ bootstrap.naming_convention.prefix }}"
{% endif %}

# Default region. When not set to a resource it will use that value
default_region = "{{ bootstrap.default_region_key }}"

# You can reference the regions by using region1, region2 or set your own keys
regions = {
{% for key, value in bootstrap.caf_regions.items() %}
  {{ key }} = "{{ value }}"
{% endfor %}
}

# Rover will adjust some tags to enable the discovery of the launchpad.
launchpad_key_names = {
  keyvault = "level0"
  tfstates = [
    "level0",
    "level1",
    "level2"
  ]
}

{% if bootstrap.launchpad.tags is defined %}
# Global tags
tags = {
{% for tag_key, tag_value in bootstrap.launchpad.tags.items() %}
  {{ tag_key }} = "{{ tag_value }}"
{% endfor %}
  }
{% endif %}
