
#
# Services supported: subscriptions, storage accounts and resource groups
# Can assign roles to: AD groups, AD object ID, AD applications, Managed identities
#

role_mapping = {
  built_in_role_mapping = {
{% if config.platform_core_setup %}
    management_group = {
      root = {
        "User Access Administrator" = {
{% if config.platform_identity.azuread_identity_mode == 'logged_in_user' %}
          logged_in = {
            keys = ["user"]
          }
{% endif %}
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
          azuread_groups = {
            keys = ["level0"]
          }
{% endif %}
        }
        "Management Group Contributor" = {
{% if config.platform_identity.azuread_identity_mode == 'logged_in_user' %}
          logged_in = {
            keys = ["user"]
          }
{% endif %}
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
          azuread_groups = {
            keys = ["eslz", "caf_platform_maintainers"]
          }
{% endif %}
        }
        "Owner" = {
{% if config.platform_identity.azuread_identity_mode == 'logged_in_user' %}
          logged_in = {
            keys = ["user"]
          }
{% endif %}
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
          azuread_groups = {
            keys = ["eslz", "caf_platform_maintainers"]
          }
{% endif %}
        }
      }
    }
{% endif %}
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
  subscriptions = {
    logged_in_subscription = {
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
      "Owner" = {
        azuread_groups = {
          keys = ["level0", "caf_platform_maintainers", "subscription_creation_platform"]
        }
      }
{% endif %}
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
      "Reader" = {
        azuread_groups = {
          keys = ["identity"]
        }
      }
{% endif %}
      }
    }
{% endif %}

{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
    resource_groups = {
      level0 = {
        "Reader" = {
          azuread_groups = {
            keys = [
              "identity",
              "subscription_creation_platform"
            ]
          }
        }
      }
      level1 = {
        "Reader" = {
          azuread_groups = {
            keys = [
              "identity",
              "management",
              "eslz",
              "subscription_creation_platform"
            ]
          }
        }
      }
      level2 = {
        "Reader" = {
          azuread_groups = {
            keys = [
              "identity",
              "connectivity",
              "management",
              "subscription_creation_landingzones"
            ]
          }
        }
      }
    }
{% endif %}

    storage_accounts = {
      level0 = {
        "Storage Blob Data Contributor" = {
          logged_in = {
            keys = ["user"]
          }
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
          azuread_groups = {
            keys = ["level0", "caf_platform_maintainers", "identity"]
          }
{% endif %}
        }
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
        "Storage Blob Data Reader" = {
          azuread_groups = {
            keys = [
              "management",
              "eslz",
              "subscription_creation_platform"
            ]
          }
        }
{% endif %}
      }

      level1 = {
        "Storage Blob Data Contributor" = {
          logged_in = {
            keys = ["user"]
          }
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
          azuread_groups = {
            keys = [
              "caf_platform_maintainers",
              "identity",
              "management",
              "eslz",
              "subscription_creation_platform"
            ]
          }
{% endif %}
        }
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
        "Storage Blob Data Reader" = {
          azuread_groups = {
            keys = [
              "connectivity",
{% if config.platform_core_setup.enterprise_scale.enable_azure_subscription_vending_machine %}
              "level0"
{% endif %}
            ]
          }
        }
{% endif %}
      }

      level2 = {
        "Storage Blob Data Contributor" = {
          logged_in = {
            keys = ["user"]
          }
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
          azuread_groups = {
            keys = [
              "identity",
              "connectivity",
              "management",
              "caf_platform_maintainers",
{% if config.platform_core_setup.enterprise_scale.enable_azure_subscription_vending_machine %}
              "level0"
{% endif %}
            ]
          }
        }
{% endif %}
        "Storage Blob Data Reader" = {
          azuread_groups = {
            keys = [
{% if config.platform_core_setup.enterprise_scale.enable_azure_subscription_vending_machine %}
              "subscription_creation_landingzones"
{% endif %}
            ]
          }
        }
      }
    }
  }
}
